@import "tailwindcss";

/* H1 and root styles removed. Handled in App.css */

/* Button styles removed to avoid conflict with UI components */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
